@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle" style="margin-bottom: 30px;">
        <h1 id="title">Chào bạn đã đến đồ án của tui nhoa</h1>
        <p class="lead">Welcome bạn đến với đồ án lập trình web của tui nha.</p>
        <p><a href="https://localhost:44394/Theloaitin1/Index" class="btn btn-primary btn-md">Thể loại tin tức &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-6" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Kênh TikTok của tôi</h2>
            <blockquote class="tiktok-embed" cite="https://www.tiktok.com/ph.nguyn0893" data-unique-id="ph.nguyn0893" data-embed-type="creator" style="max-width: 100%; min-width: 288px;">
                <section>
                    <a target="_blank" href="https://www.tiktok.com/ph.nguyn0893?refer=creator_embed">ph.nguyn0893</a>
                </section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>
        </section>

        <section class="col-md-6" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Kênh YouTube của tôi</h2>
            <p>Cho tui xin 1 like và 1 share nhé</p>
            <p>
                <a class="btn btn-outline-dark" href="https://www.youtube.com/results?search_query=%40ph%C3%BA-p9s" target="_blank">
                    YouTube &raquo;
                </a>
            </p>
        </section>
    </div>
</main>