@{
    ViewBag.Title = "lienhe";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Đây là 1 sản phẩm do phú chuẩn bị <br />
        cảm ơn vì đã đến xem thank you  :+))))))))))))))<br />
        <abbr title="Phone">Phone:</abbr>
        096.699.7098
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:nguyenphu57625@gmail.com">nguyenphu57625@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:pg241244@gmail.com">pg241244@gmail.com</a>
    </address>
</main>