@{
    ViewBag.Title = "vetoi";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <address>
        hi tôi là một cậu bé thích sáng tạo nhưng k thích lập trình <br />
        việc có trí tuỏng tượng phong phú nhưng k muốn bỏ sức ra để làm nó <br />
    </address>
</main>