@model IEnumerable<BAI4LAPTRINHWEB.Models.SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row">
    @foreach (var SACH in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail" style="margin-bottom: 20px; text-align: center;">
                <a href="@Url.Action("Details", "BookStore", new { id = SACH.Masach })">
                    <img alt="@SACH.Tensach" src="~/Hinhsanpham/@SACH.Anhbia" width="200" />
                </a>
                <div class="caption">
                    <h4 style="text-align:center">
                        @SACH.Tensach
                    </h4>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    }
    <h2>nguyen phu</h2>
</div>